* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    width: 100%;
    height: 100%;
  }
  
  body {
    width: 100%;
    height: 100%;
    line-height: 1.42;
    font-size: 16px;
    font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
    /* to smooth fonts */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }


.container {
    max-width: 1192px;
    margin: 0 auto;
  }

  ul {
    padding: 0;
    margin: 0;
  }
  
  ul li {
    list-style: none;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
    font-weight: normal;
  }
  
  a {
    text-decoration: none;
  }
  
  p {
    padding: 0;
    margin: 0;
  }




  .first__section {
      width: 100%;
      background-color: #fff;
      padding: 40px 0;
  }

  .first__section-header {
      text-align: center;
      font-size: 40px;
      color: #4A4A4A;

  }

  .first__section-para {
      font-size: 20px;
      color: #2C2E2F;
      padding: 20px 0 0;
      text-align: center;
  }

  .panel {
      background-color: #f5f7fa;
      padding: 30px 0;
  }

  .panel__container {
     
      padding: 0 48px;
      display: flex;
      flex-direction: column;
      align-content: space-around;
      
  }

  .panel__row1 {
    display: flex;
    flex-direction: row;
    align-items: center;
      justify-content: center;
    
  }

  .panel__row2 {
      padding-top: 30px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      
  }

  .panel__holder {
      padding: 0 12px; 
      text-align: center;
      width: 33.3%;
          
    }

  .panel-image {
      margin: 20px 0 30px;
      align-self: center; 
  }

  .panel-caption {
      color: #4A4A4A;
      font-size: 20px;
      padding: 0 0 5px;
      align-self: center; 
  }

  .panel-para {
      color: #2c2e2f;
      font-size: 16px;
      padding: 1px 0 20px;
      align-self: center; 
  }

  .panel__holder a {
      color: #0070ba;
      font-size: 16px;  
      font-weight: bold;   
  }

  .panel__holder a:hover {
      text-decoration: underline;
  }

  .stats {
      background-color: #fff;
      padding: 60px 0;
  }

  .stats__container {
      display: flex;
      flex-direction: column;
      align-content: space-around;
      text-align: center;
      padding: 0 36px;
  }

  .stats-text {
      padding: 0 12px 40px;
  }

  .stats-heading {
      font-size: 40px;
      color: #4A4A4A;
  }

  .stats-para {
      padding-top: 20px;
      color: #4A4A4A;
  }

  .stats__graphic {
      display: flex;
      flex-direction: row;
  }

  .stats__panel {
    padding: 0 12px; 
    text-align: center;
    width: 33.3%;
  }

  .stats-img {
      margin: 20px 0 30px;
  }

  .stats__panel-para {
      color: #2C2E2F;
      font-size: 16px;
  }

  .stats-legal-text {
      font-size: 13px;
      color: #2C2E2F;
  }

  .stats__footer {
      padding-top: 30px;
  }

  .services {
    background-color: #009cde;
    padding: 40px 0;
  }

  .service__content {
    padding: 0 36px; 
    display: flex;
    flex-direction: column;
    align-items: space-between;
    text-align: center;
    padding: 0 48px;   
  }

  .service__text {
    padding: 0 12px 40px;
    color: #fff;    
  }

  .service__text-title {
    padding-top: 40px;
    font-size: 20px;
    font-size: 40px;
  }

.service__text-para {
  font-size: 20px;
  padding-top: 20px;
}

.service__panel-holder {
  display: flex;
  align-items: flex-start; 
  text-align: left; 
  
  }

.service_panel {
  width: 25%;
  padding: 0 12px;

 }

.service__panel-image {
  margin: 20px 0 30px;
  width: 50px;
  height: 50px;
}

.panel-text {
  margin-bottom: 5px;
  min-height: 75px;
  
}

.panel-text-para {
  margin-top: 5px;
}
.service__panel-text {
  padding-bottom: 5px;
  font-size: 20px;
  color: #fff;
  margin-bottom: 5px;
}

.service__panel-para {
  color: #fff;
  font-size: 16px;
  margin-top: 5px;
}

.showcase {
  background-color: #fff;
  padding: 40px 0;
}

.showcase__container {   
  display: flex;
  flex-direction: column;
  text-align: center; 
}

.showcase-header-div {
  padding-bottom: 30px;
  margin: 0 -12px;
}

.showcase-header-div:after {
  content: "";
  display: block;
  border-bottom: 1px dotted #cccccc;
  margin-top: 30px ;
  padding: 0 20px;
}
.showcase-header {
  color: #4A4A4A;
  padding: 0 12px;
  font-size: 40px;
}

.showcase-panel {
  margin: 0 -12px;
  padding: 30px 0;
  display: flex;
  justify-content: space-around;
}

.panel-image {
  padding: 0 -12px;
  width: 25%;
}

.captionbtn {
  padding: 60px 0;
  background-color: #f5f7fa;
}

.caption_btn {
  padding: 0 12px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.caption__btn-caption {
  color: #4A4A4A;
  font-size: 40px;
}

.caption__btn-btn {
  background-color: #0070ba;
  margin: 15px;
  border-radius: 35px;
  width: 300px;
  padding: 12px 10px;
  display: inline-block;
  border: 0px;  
}

.caption__btn-link {
  color: #fff;
  font-weight: normal;
  margin: 20px 0 10px 0;
  padding-top: 20px;
  text-shadow: 0 0 1px #fff;
}

